.badge{
    width: auto;
    margin: auto;
    display: block;
    padding-top: 0.5rem;
}

.kit{
    width: auto;
    margin: auto;
    display: block;
}

.fixed{
    position: fixed;
    top: 20px;
}