<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Detail {{ list.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid fixed>
    <ion-card>
      <img class="badge" src="{{ list.badge }}" alt="" height="200px">
      <ion-card-header>
        <ion-card-title> Profile</ion-card-title>
      </ion-card-header>

      <ion-list>
        <ion-item>
          <ion-card-subtitle >Founded</ion-card-subtitle>
          <ion-item>
            <ion-card-subtitle>:</ion-card-subtitle>
          </ion-item>
          <ion-card-subtitle class="ion-padding-start">{{ list.formed }}</ion-card-subtitle>
        </ion-item>
        <ion-item>
          <ion-card-subtitle>Stadium‎‏‏‎ ‎</ion-card-subtitle>
          <ion-item>
            <ion-card-subtitle>:</ion-card-subtitle>
          </ion-item>
        <ion-card-subtitle class="ion-padding-start">{{ list.stadiumname }}</ion-card-subtitle>
        </ion-item>
        <ion-item>
          <ion-card-subtitle>League‎‏‏‎ ‎‏‏‎ ‎</ion-card-subtitle>
          <ion-item>
            <ion-card-subtitle>:</ion-card-subtitle>
          </ion-item>
        <ion-card-subtitle class="ion-padding-start">{{ list.league }}</ion-card-subtitle>
        </ion-item>
        <ion-card-content class="ion-text-justify">
          {{ trimString(list.desc, 320) }}
        </ion-card-content>
      </ion-list>
    </ion-card>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title class="ion-text-center">Home Kit</ion-card-title><br>
            <img class="kit" src="{{ list.kit }}" alt="">
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title class="ion-text-center">Away Kit</ion-card-title><br>
            <img class="kit" src="{{ list.kit }}" alt="">
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
