.badge{
    width: auto;
    margin: auto;
    display: block;
    padding-top: 2rem;
    }

    .kit{
      width: auto;
      margin: auto;
      display: block;
      }

    // ion-content{

    //     --ion-background-color:#a5a5a8;
    // }

    .fixed
    {
        position: fixed;
        top: 20px;
    }

    hr {
      border: 0.5px solid rgb(243, 243, 243) !important;
      height: 0.5px !important;
      width: 75px !important;
      display: block;
      opacity: 1 !important;
      visibility: visible !important;
    }