
<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>

  <div *ngFor="let t of teams.teams" class="container">
    <ion-label></ion-label>
  </div>
  <ion-grid>
  <ion-card *ngFor="let t of teams.teams" class="text-center">
    
      <img class="badge" src="{{ t.strTeamBadge }}" alt="" height="200px">
      
    
    <ion-card-header>
      <ion-card-title> Profile</ion-card-title>
    </ion-card-header>
    
    <ion-list>
      <ion-item>
        <ion-card-subtitle >Founded</ion-card-subtitle>
          <ion-item>
            <ion-card-subtitle>:</ion-card-subtitle>
          </ion-item>
        <ion-card-subtitle class="ion-padding-start">{{ t.intFormedYear }}</ion-card-subtitle>
      </ion-item>
      <ion-item>
        <ion-card-subtitle>Stadium‎‏‏‎ ‎</ion-card-subtitle>
          <ion-item>
            <ion-card-subtitle>:</ion-card-subtitle>
          </ion-item>
        <ion-card-subtitle class="ion-padding-start">{{ t.strStadium }}</ion-card-subtitle>
      </ion-item>
      <ion-item>
        <ion-card-subtitle>League‎e‏‏‎</ion-card-subtitle>
          <ion-item>
            <ion-card-subtitle>:</ion-card-subtitle>
          </ion-item>
        <ion-card-subtitle class="ion-padding-start">{{ t.strLeague }}</ion-card-subtitle>
      </ion-item>
      <ion-card-content class="ion-text-justify">
        {{ trimString(t.strDescriptionEN, 300) }}
      </ion-card-content>
    </ion-list>
  

  </ion-card>



  
    <ion-row>
      <ion-col>
        <div>
          <ion-card *ngFor="let t of teams.teams">
            <ion-card-header>
              <ion-card-title class="ion-text-center">Home Kit</ion-card-title><br>
              <img class="kit" src="{{ t.strTeamJersey }}" alt="">
            </ion-card-header>
          </ion-card>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <ion-card *ngFor="let t of teams.teams">
            <ion-card-header>
              <ion-card-title class="ion-text-center">Away Kit</ion-card-title><br>
              <img class="kit" src="{{ t.strTeamJersey }}" alt="">
            </ion-card-header>
          </ion-card>
        </div>
      </ion-col>
    </ion-row>

    <ion-card>
      <ion-list>
        <ion-item>
            <ion-grid>
              <ion-card-title>Last 5 Matches</ion-card-title><br>
                <ion-row *ngFor="let l of last.results">
                    <ion-col class="ion-text-center">
                        <br/>
                        <ion-card-subtitle>{{ trimString(l.strHomeTeam, 9) }}</ion-card-subtitle><br/><ion-label>{{ l.intHomeScore }}</ion-label>
                    </ion-col>
                    
                    <ion-col class="ion-text-center ion-margin-top">
                        <small>{{ l.dateEvent | date: 'dd MMM yyyy' }}<br/>
                            {{ l.strTime }}</small>
                            <hr>   
                    </ion-col>
                    
                    <ion-col class="ion-text-center">
                          <br/>
                          <ion-card-subtitle>{{ l.strAwayTeam }}</ion-card-subtitle><br/><ion-label>{{ l.intAwayScore }}</ion-label>
                    </ion-col>
                    <!-- <hr> -->
                </ion-row>
            </ion-grid>
        </ion-item>
      </ion-list>
    </ion-card>

  </ion-grid>



  <div class="badge" *ngFor="let t of teams.teams" class="text-center">
    <img class="badge" src="{{ t.strTeamBanner }}" alt="">
  </div>

</ion-content>
